<div class='modal-movie-container' data-id={{id}}>
  <div class='modal-picture-container'>
    {{#if poster}}
      <img
        class='poster'
        data-source='https://image.tmdb.org/t/p/w500{{backdropPath}}'
        alt='{{title}}'
        src='https://image.tmdb.org/t/p/w500{{poster}}'
      />
    {{else}}
      <img
        src='https://cdn.pixabay.com/photo/2015/09/09/17/51/film-932154_960_720.jpg'
        alt='{{originalTitle}}'
      />

    {{/if}}
  </div>
  <div class='modal-movie-info'>
    <h2 class='modal-movie-title'>{{title}}</h2>
    <ull class='list modal-info-list'>
      <li class='info-list-item'><span class='info-description'>Vote / Votes</span><span
          class='info-content'
        ><span class='modal-vote-average'>{{rating}}</span><span
            class='info-description'
          >/</span><span
            class='modal-vote-count'
          >{{voteCount}}</span></span></li>
      <li class='info-list-item'><span
          class='info-description'
        >Popularity</span><span class='info-content'>{{popularity}}</span></li>
      <li class='info-list-item'><span class='info-description'>Original Title</span><span
          class='info-content modal-original-title'
        >{{originalTitle}}</span></li>
      <li class='info-list-item'><span
          class='info-description'
        >Genre</span><span class='info-content'>{{genres}}</span></li>
    </ull>
    <h3 class='modal-movie-about-title'>About</h3>
    <p class='modal-movie-description'>{{overview}}</p>
    <div class='modal-buttons'>
      <button
        class='button modal-button js-add-to-watched'
        type='button'
        data-action='add-to-watched'
      >
        add to Watched
      </button>
      <button
        class='button modal-button js-add-to-queue'
        type='button'
        data-action='add-to-queue'
        id='add-to-queue'
      >
        add to queue
      </button>
      <a href='/login' class='button modal-button js-sign-in'>Sign In</a>
    </div>
  </div>
</div>