{{#if showPrev}}
        <button class="btn-page previous" data-page="{{prevPage}}">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.6666 8H3.33325" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M7.99992 12.6667L3.33325 8.00004L7.99992 3.33337" stroke="currentColor"
                stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
    {{/if}}

    {{#each pages}}
        {{#if isDots}}
            <button class="btn-page dots" disabled>...</button>
        {{else}}
            <button class="btn-page page {{#if isActive}}active{{/if}}" data-page="{{number}}">
            {{number}}{{#if isDynamic}}+{{/if}}
        </button>
        {{/if}}
    {{/each}}

    {{#if showNext}}
        <button class="btn-page next" data-page="{{nextPage}}">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path d="M3.33341 8H12.6667" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round"
                stroke-linejoin="round" />
             <path d="M8.00008 12.6668L12.6667 8.00016L8.00008 3.3335" stroke="currentColor"
                stroke-width="1.33333"
                stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
    {{/if}}
